/* Add CSS styling here */

*{
   /*border: solid black 1px;*/
    background-color:#ADE1E5; 
    color: #000501;
    font-family:  monospace;
}
html{
    font-size: 62.5%;
}


h1{
    width: 50%;
    font-size: 4rem;
    padding:2%;
}
nav{
    display: flex;
    justify-content: flex-end;
    padding-top: 5%;
    width: 100%;
    font-size: 2rem;
}
nav a{
    text-decoration: none;
    margin: 2%;
    font-size: 150%;
    border: solid #73AB84 3px;
    background-color: #89CCB1;
    width: 45%;
    height: 25%;
    padding: 2%;
    text-align: center;
}
nav a:hover{
    background-color: #99D19C;
}

.img{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #79C7C5;
    margin: 10%;
    margin-top: 5%;
    padding: 10%;
    border: solid #73AB84 5px;
    border-radius: 3px;
}
.centeredtext{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}

.parent{
  display: flex;
  justify-content: space-around;
  justify-content: center;
  padding-left: 10%;
  font-family: fantasy;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 135%;   
}

.box{
    border: solid #73AB84 5px;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 5%;
    font-size: 2.5rem;
}
.box{
    margin-right: 13%;
}

.bigpicture{
    background: url(https://images.unsplash.com/photo-1591256686923-e7701823ae95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)
    
}
footer{
    height: 150%;
    display: flex;
    justify-content: center;
    margin: 10%;
    
}
.footer-1{
    height: 100%;
    background-color: #79C7C5;
}
button{
    background-color: #73AB84;
    padding: 3%;
    font-size: 150%;
    border-radius: 3px;
    height: 100%;
}
@media(max-width: 800px){
    h1{
        font-size: 2.25rem;
        font-weight: 800;
        padding: 3%;
    }
    nav{
        flex-direction: row;
        align-items: center;
     }
    .centeredtext{
        top: 100%;
    }

}
@media(max-width: 500px){
   h1{
       padding-left: 20%;
   }
    nav{
       flex-direction: column;
       align-items: center;
    }
   
    

    img{
        width: 90%; 
    }
    .centeredtext{
        top: 100%;
    }
    .box{
        width: 100%;
    }
    .parent{
        flex-flow: row wrap;
        align-items: flex-start;
        padding-left: 11%;

    }

    
}